.nav__main {
    height: 80px;
    /* color: var(--primaryColor); */
    background-color: rgba(93, 173, 226, 0.5);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav__container {
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    padding: 0 20px;
    height: 100%;
}

.nav__logo {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.nav__logo:hover {
    color: var(--primaryColor);
    text-decoration: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.nav__item {
    margin: 10px 30px;
    padding: 10px;
}

.nav__link {
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 1.2rem;
}

.nav__link:hover {
    border-bottom: 2px var(--primaryColor) solid;
    color: var(--primaryColor);
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    transition: all 0.1s ease-in;
}

.nav__button {
    margin: 20px;
    padding: 7px 25px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.nav__button:hover {
    color: var(--primaryColor);
    background-color: rgba(27, 79, 114, 0.2);
    font-weight: 600;
    border-bottom: 2px var(--darkColor) solid;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
    
}

.nav__menu--icon {
    display: none;
}

@media screen and (max-width: 1100px) {

    .nav__main {
        display: flex;
        flex-direction: column;
        position: sticky;
        text-align: center;
        justify-content: center;
    }

    .nav__logo {
        position: absolute;
        justify-content: center;
        align-items: center;
        padding: 20px;
        transform: translate(15%, 20%);
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 90vh;
        top: 80px;
        left: -100%;
        transition: all 0.5s ease;
    }

    .active {
        background-color: var(--secondaryColor);
        z-index: 2;
        left: 0;
        transition: all 0.5s ease;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        padding: 2rem;
        width: 100%;
    }

    .nav__menu--icon {
        display: inline-block;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        transform: translate(-100%, 40%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}
