@import url('https://fonts.googleapis.com/css2?family=Sura&display=swap');

:root {
  --primaryColor: rgb(23, 32, 42 );
  --secondaryColor: rgb(93, 173, 226) ;
  --lightColor: rgb(214, 234, 248 );
  --darkColor: rgb(27, 79, 114);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sura', sans-serif;
}

body {
  color: var(--primaryColor);
  /* background-color: var(--secondaryColor); */
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}
