.info__container {
    padding: 70px 50px;
}

.info__wrapper {
    align-items: center;
}

.info__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex: inline-block;
    justify-content: center;
    align-self: center;
    /* flex: 1;
    flex-basis: 100%;
    max-width: 100%;    */
}

.info__col1 {
    max-width: 600px;
    padding: 50px 30px;
}

.info__col2 {
    max-width: 500px;
    padding: 50px 30px;
}

.info__img--wrapper {
    margin: 0 10px;
}

.info__img {
    
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info__list {
    padding: 40px;
}

.info__col1 h1 {
    color: var(--primaryColor);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
}

.info__col1 h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    margin-left: 20px;
}

.info__col1 p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 1.2rem;
}